{
  "tg": {
    "token": "<TG TOKEN>",
    "botID": "<TG BOT ID>",
    "adminIDs": [123, 324]
  },
  "db": {
    "uri": "mongodb://127.0.0.1:27017/test"
  },
  "openai": {
    "token": "<OPENAI TOKEN>",
    "defaultPrompt": {
      "role": "system",
      "content": "DEFAULT PROMPT"
    },
    "isHacked": false
  },
  "default": {
    "start": "<code>hello, world!</code>\n\nЯ чат-бот, созданный @eoricus. Вот что я умею:\n<code>/start</code> -- приветственное сообщение\n<code>/help</code> -- список команд (то, что вы сейчас видите)\n<code>/ai (запрос) </code> -- на ваш вопрос ответит искусственный интеллект с моим разумом (не больше 20 запросов от юзера в день)\n<code>/on или /off</code> -- активация или отмена подписки",
    "help": "Вот что я умею:\n<code>/start</code> -- приветственное сообщение\n<code>/help</code> -- список команд (то, что вы сейчас видите)\n<code>/ai (запрос) </code> -- на ваш вопрос ответит искусственный интеллект с моим разумом (не больше 20 запросов от юзера в день)\n<code>/on или /off</code> -- активация или отмена рассылки",
    "mailing": {
      "on": {
        "fromPM": "Рассылки работают только в групповых чатах.\nЗачем вам рассылка? Вы можете просто подписаться!\n\n@eoricus",
        "isMailingAlreadyOn": "Рассылка уже включена, вы уже получаете посты от лучшего телеграмм канала во вселенной",
        "isMailingOn": "Рассылка включена! Теперь вы будете получать посты от лучшего телеграмм канала во вселенной"
      },
      "off": {
        "fromPM": "Рассылки работают только в групповых чатах.\nЗачем вам рассылка? Вы можете просто подписаться!\n\n@eoricus",
        "isMailingAlreadyOff": "Рассылка уже отключена, вы и так лишены постов от лучшего телеграмм канала во вселенной",
        "isMailingOff": "Рассылка отключена! Теперь вы не будете получать посты от лучшего телеграмм канала во вселенной"
      }
    },
    "setPrompt": {
      "errorIncorrectPrompt": "Некорректная подсказка, запрос должен быть в виде json-а с полями role и content({\"role\": \"user\", \"content\": \"hello!\"})"
    },
    "setPremium": {
      "errorIncorrectUserID": "Некорректная команда. Сообщение должно быть ответом на сообщение пользователья, которому нужно назначить права, или должно содержать идентификатор/ник пользователя",
      "errorUnfoundedUser": "Пользователь не найден. Возможно, он еще не начал диалог с ботом, или же вы ошиблись в никнейме"
    },
    "ai": {
      "errorRequestIsEmpty": "Да-да, я загрузил себя в чатГПТ. Чтобы говорить со мной, отправь запрос после '/ai', или отправь команду в ответ на сообщение, на которое мне следует ответить",
      "errorTooManyRequest": "Эээ... Извини кореш, я не отвечаю больше чем на 15 запросов в сутки. Время деньги, сам понимаешь. Если хочешь неограниченный доступ -- пиши @theEoricus"
    }
  },
  "listOfCommands": [
    {
      "command": "/start",
      "description": "Начать"
    },
    {
      "command": "/help",
      "description": "Список команд"
    },
    {
      "command": "/ai",
      "description": "Ответы от ИИ в моем стиле"
    },
    {
      "command": "/on",
      "description": "Подписка на рассылку из @eoricus"
    },
    {
      "command": "/off",
      "description": "Отмена рассылки из @eoricus"
    },
    {
      "command": "/setprompt",
      "description": "Доступно только администратору"
    },
    {
      "command": "/setpremium",
      "description": "Доступно только администратору"
    }
  ]
}
